

.infoBox{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1vh;
    padding-top: 10vh;
}

#detail{
    margin-left: 10vw;
    width: 50%;
    color: white;
    background-color: rgba(67, 67, 67, 0.7);
    transition: 0.5s;
    border-radius: 1vh;
    padding: 3vh;
    font-size: 5vh;
}
#detail:hover{
    background-color: rgba(40, 40, 40, 0.9);
}


.head2{
    position: absolute;
    color: rgb(255, 174, 0);
    font-size: 10vh;
    left:7%;
    top:90%;
}
.head{
    position: absolute;
    color: rgb(255, 174, 0);
    font-size: 10vh;
    left: 7%;
    top:10%;
}
.miss{
    padding-top: 10vh;
}


