

.infoBox{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1vh;

}

#detail{
    margin-top: -20vw;
    margin-left: 10vw;
    width: 50%;
    color: white;
    background-color: rgba(67, 67, 67, 0.7);
    transition: 0.5s;
    border-radius: 1vh;
    padding: 3vh;
    font-size: 2vw;
}
#detail:hover{
    background-color: rgba(40, 40, 40, 0.9);
}


.head2{

    color: rgb(255, 174, 0);
    font-size: 5vw;
    margin-left: 5vh;
}
.head{
    margin-top: 5vw;
    color: rgb(255, 174, 0);
    font-size: 5vw;
    margin-left: 5vh;
}
.miss{
    

    padding-top: 1vh;
}
.headfilter{
    position: absolute;
    color: rgb(255, 174, 0);
    font-size: 1vh;
    left: 7%;
    top:20%;
    display: inline;
}
.boxc{
    height: 50%;
  }


